spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8181/realms/spring-microservices-security-realm



server:
  port: 9000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls[0].name: Product Service
    urls[0].url: /aggregate/product-service/v3/api-docs
    urls[1].name: Order Service
    urls[1].url: /aggregate/order-service/v3/api-docs
    urls[2].name: Inventory Service
    urls[2].url: /aggregate/inventory-service/v3/api-docs
  api-docs:
    path: /api-docs

#actuator endpoints
management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always


    #Resilinece4j Properties
resilience4j :
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        minimum-number-of-calls: 5

    #Resilience4J Timeout Properties

  timelimiter:
    configs:
      default:
        timeout-duration: 3s

    #Resilience4J Retry Properties
  retry:
    configs:
      default:
        max-attempts: 3
        wait-duration: 5s


